header{
    position: relative;
    .top_header{
        position: relative;
        background-color: $clr_212529;
        .top_header_wrap{
            display: flex;
            justify-content: space-between;
            align-items: center;
            & > div, ul{
                display: flex;
                align-items: center;
                img{
                    width: 25px;
                    height: 25px;
                    object-fit: contain;
                    filter: grayscale(100%) brightness(0) invert(1);
                    @media only screen and (max-width: 991.98px){
                        width: 20px;
                        height: 20px;
                    }
                }
                span{
                    @extend %fs_22;
                    font-weight: 500;
                    font-family: $dm_sans_font;
                    color: $clr_white;
                    padding-left: 10px;
                }
                li{
                    position: relative;
                    padding: 10px 15px;
                    border-left: 1px solid $clr_white;
                    &:nth-last-child(1){
                        border-right: 1px solid $clr_white;
                    }
                    @media only screen and (max-width: 991.98px){
                        padding: 8px 10px;
                    }
                }
            }
        }
    }
    .bottom_header{
        position: relative;
        background-color: $clr_white;
        padding: 20px 0;
        @media only screen and (max-width: 767.98px){
            padding: 10px 0;
        }
        .bottom_header_wrap{
            display: flex;
            justify-content: space-between;
            align-items: center;
            @media only screen and (max-width: 991.98px){
                flex-wrap: wrap;
            }
            .header_button{
                position: relative;
                display: flex;
                align-items: center;
                .g-btn{
                    @media only screen and (max-width: 991.98px){
                        height: auto;
                        padding: 5px 10px;
                    } 
                }
                & > div{
                    margin-right: 30px;
                    @media only screen and (max-width: 991.98px){
                        margin-right: 20px;
                    }
                    @media only screen and (max-width: 767.98px){
                        margin-right: 10px;
                    }
                    &:nth-last-child(1){
                        margin-right: 0;
                    }
                    a{
                        @extend %fs_18;
                        font-weight: 500;
                        font-family: $dm_sans_font;
                        color: $clr_white;
                    }
                    button{
                        width: 20px;
                        margin-left: 5px;
                        border: none;
                        background-color: transparent;
                    }
                }

                @media screen and (max-width:575.98px){
                    display: none;
                }
            }
            .header_search_bar{
                @media only screen and (max-width: 991.98px){
                    order: 3;
                    width: 100%;
                    padding-top: 20px;
                }
                @media only screen and (max-width: 767.98px){
                    padding-top: 10px;
                }
                .search_bar_wrap{
                    position: relative;
                    @media only screen and (max-width: 991.98px){
                        width: 400px;
                        max-width: 100%;
                        margin: 0 auto;
                    }
                    &::before{
                        content: "";
                        position: absolute;
                        width: 20px;
                        height: 20px;
                        top: 50%;
                        left: 10px;
                        transform: translateY(-50%);
                        background-image: url('../images/search.svg');
                    }
                    input{
                        width: 400px;
                        max-width: 100%;
                        border: 1px solid $clr_2F861B;
                        padding: 5px 20px;
                        background-color: $clr_f9f9f9;
                        padding-left: 40px;
                        &:focus{
                            outline: none;
                        }
                        @media only screen and (max-width: 991.98px){
                            width: 100%;
                        }
                    }
                }
            }
            .header_menu {
                @media screen and (max-width:991.99px){
                    position: fixed;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    background: #0000007d;
                    height: 100vh;
                    z-index: 99;
                    transition: 0.5s ease;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    opacity: 0;
                    visibility: hidden;
                    pointer-events: none;
                    &.show_menu{
                        opacity: 1;
                        visibility: visible;
                        pointer-events: unset;
                        ul{
                            transform: scale(1);
                        }
                    }
                }
                ul {
                    display: flex;
                    justify-content: center;
                    .hide_menu{
                        display: none;
                    }
                    @media screen and (max-width:991.99px){
                        flex-direction: column;
                        width: 90%;
                        height: 95%;
                        background: #f6f9f0;
                        text-align: center;
                        transform: scale(0);
                        transition: 0.3s ease;

                        .hide_menu {
                            display: block;
                            position: absolute;
                            top: 0;
                            right: 0;
                            width: 40px;
                            height: 40px;
                            cursor: pointer;
                            &::before{
                                content: "";
                                position: absolute;
                                top: 0px;
                                right: 19px;
                                transform: rotate(45deg);
                                width: 3px;
                                height: 40px;
                                background: #000;
                            }
                            &::after{
                                content: "";
                                position: absolute;
                                top: 0px;
                                left: 19px;
                                transform: rotate(315deg);
                                width: 3px;
                                height: 40px;
                                background: #000;
                            }
                        }

                    }
                    li {
                        a {
                            font-size: 16px;
                            margin: 0 15px;
                            color: #000;
                            transition: 0.5s ease;
                            @media screen and (max-width:991.99px){
                                width: 100%;
                                display: block;
                                padding: 15px 15px;
                                background: #f6f9f0;
                                margin: 0;
                                font-size: 25px;
                            }
                            &:hover {
                                color: #398b1c;
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
            .mobileMenu{
                @media screen and (min-width:992px) {
                    display: none;
                }
                .hamburger .line{
                    width: 40px;
                    height: 3px;
                    background-image: linear-gradient(to right, #2F861B, #8BB325);
                    display: block;
                    margin: 6px auto;
                    -webkit-transition: all 0.3s ease-in-out;
                    -o-transition: all 0.3s ease-in-out;
                    transition: all 0.3s ease-in-out;
                }
                  
                .hamburger:hover{
                cursor: pointer;
                }

                #hamburger-7.is-active .line:nth-child(1){
                    width: 20px;
                }
                
                #hamburger-7.is-active .line:nth-child(2){
                    width: 30px;
                }
                
                #hamburger-7.is-active .line{
                    -webkit-transform: rotate(30deg);
                    -ms-transform: rotate(30deg);
                    -o-transform: rotate(30deg);
                    transform: rotate(30deg);
                }
            }
            .header_logo{
                width: 200px;
                img{
                    @media only screen and (max-width: 991.98px){
                        width: 180px;
                    }
                    @media only screen and (max-width: 767.98px){
                        width: 150px;
                    }
                    @media only screen and (max-width: 575.98px){
                        width: 120px;
                    }
                }
            }
        }
    }
}